<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <script src="https://kit.fontawesome.com/25bec7cea0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <header>
        <a href="home.html">
            <img class="logo" src="../public/images/logo-mercado-liebre.svg" alt="logo de mercado liebre"></a>
        <div class="buscador">
            <input type="text" placeholder="Buscar producto,marca"><i class="fa-solid fa-magnifying-glass"></i>
        </div>



        <p> <i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</p>
        <nav>
            <ul>
                <li>
                    <a href="#">Ofertas</a>
                </li>
                <li>
                    <a href="#">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="#">Vender</a>
                </li>
                <li>
                    <a href="#">Ayuda</a>
                </li>
            </ul>
            <ul>
                <li><a href="register.html">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>

            </ul>

        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <section>
        <img class="banner" src="../public/images/img-home-banner.jpg " alt="Banner " </section>

        <main>
            <section class="last-visit">
                <h3>Basado en tu última visita</h3>
                <div class="products">
                    <article>
                        <img src="../public/images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Cafetera Moulinex</h4>
                        </div>
                    </article>
                    <article>
                        <img src="../public/images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                            <h4 class="description">MacBook Pro 2019</h4>
                        </div>
                    </article>
                    <article>
                        <img src="../public/images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                            <h4 class="description">Samsung Galaxy S10</h4>
                        </div>
                    </article>
                    <article>
                        <img src="../public/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">SmartTv Samsung 43"</h4>
                        </div>
                    </article>
                </div>
            </section>
            <section class="offers">
                <h3>Ofertas</h3>
                <div class="products">
                    <article>
                        <img src="../public/images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Cafetera Moulinex</h4>
                        </div>
                    </article>
                    <article>
                        <img src="../public/images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                            <h4 class="description">MacBook Pro 2019</h4>
                        </div>
                    </article>
                    <article>
                        <img src="../public/images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                            <h4 class="description">Samsung Galaxy S10</h4>
                        </div>
                    </article>
                    <article>
                        <img src="../public/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">SmartTv Samsung 43"</h4>
                        </div>
                    </article>
                </div>
            </section>
        </main>
        <footer>
            <div class="footer__padre">
                <div class="footer__hijo1">
            <h3> <i class="fa-solid fa-credit-card"></i> Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="footer__hijo2">
            <h3> <i class="fa-solid fa-gift"></i> Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="footer__hijo3">
            <h3><i class="fa-solid fa-user-shield"></i> Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>

    </div>

    <div class="footer__title">

            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>

        </div>
        


        </footer>
</body>

</html>